# Dependencies
leave-management-frontend/node_modules/
leave-management-backend/node_modules/
node_modules/

# Production/Build outputs
leave-management-frontend/dist/
leave-management-backend/dist/
dist/
dist-ssr/

# Environment variables
leave-management-frontend/.env
leave-management-backend/.env
.env
.env*.local

# Logs and error outputs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
leave-management-backend/tsc_errors.log
leave-management-backend/tsc_errors.txt

# Editor/System directories and files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
